# LangChain Core
langchain
langchain-core

# Anthropic Integration
langchain-anthropic

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub
sentence-transformers

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

#Pytorch  --If asked to install when run the open source model from huggingface. 
torch
torchvision
torchaudio

#User Interface
streamlit

PyPDF2>=3.0.0
faiss-cpu
langchain-community
langchain-text-splitters
langchain-groq
